---
layout: default
title: GM的博客
---
<div class="content-wrap">
{% for post in paginator.posts %}
<div class="article-wrap">
    <div class="article">
        <h3 class="article-tit"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <div class="article-time">{{post.date | date_to_string}}</div>
        <div class="article-cont">
          <p>
              {{ post.description }}
          </p>
          <div class="more">
            <a href="{{ post.url }}">查看更多</a>
          </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
       
{% if paginator.total_pages > 1 %}
<div class="pager-wrap clearfix">
    <div class="pager">
        <ul>
        {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
                <li class="current"><a>{{ page }}</a></li>
            {% else %}
                <li>
                  <a href="{{ site.url }}/{%if page > 1 %}page{{ page }}/{% endif %}">
                    {{ page }}
                  </a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
