<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="author" content="ygm">
<meta name="description" content="ygm blog">
<title>{{ page.title }}</title>
<link rel="stylesheet" type="text/css" href="/assets/css/page.css">
</head>
<body>
<div class="header-wrap">
  <div class="banner">
    <img id="bgrain" src="/assets/img/b1.jpg" />
  </div>
  <div class="header">
      <div class="logo">GM</div>
      <div class="subtit">我的世界有你们而精彩</div>
  </div>
  <div class="menu-wrap">
      <div class="menu">
          <ul class="nav">
            {% for link in site.nav %}
              {% assign active = '' %}
              {% if page.url == link.url %}
                {% assign active = 'class="active"' %}
              {% endif %}
              <li {{ active }}>
                  <a href="{{ link.url }}">{{ link.text }}</a>
              </li>
            {% endfor %}
          </ul>
      </div>
  </div>
</div>
{{ content }}
<a href="###" class="goto-top"></a>
<div class="footer-wrap">
  <div class="footer">
      © 2013 Develop by GM
  </div>
</div>
<script src="/assets/js/jquery-2.0.3.min.js"></script>
<script src="/assets/js/page.js"></script>
</body>
</html>